USE [master]
GO
/****** Object:  Database [ClinicManagement]    Script Date: 11/11/2019 8:03:53 PM ******/
CREATE DATABASE [ClinicManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ClinicManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ClinicManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicManagement]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Subject] [varchar](255) NULL,
	[Message] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[CustomerId] [int] NULL,
	[Content] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Destination] [varchar](250) NULL,
	[OrderDate] [date] NULL,
	[OrderTime] [time](7) NULL,
	[OrderStatus] [bit] NULL,
	[OrderTotal] [int] NULL,
	[Comment] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[OrderDetailTotal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductType] [varchar](255) NULL,
	[TypeId] [int] NULL,
	[Code] [varchar](255) NULL,
	[Name] [varchar](50) NULL,
	[Price] [decimal](18, 0) NULL,
	[Image] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[Popularity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speaker]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speaker](
	[SpeakerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Degree] [varchar](255) NULL,
	[Occupation] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpeakerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[IsBoy] [bit] NULL,
	[Phone] [int] NULL,
	[Address] [varchar](255) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshop]    Script Date: 11/11/2019 8:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshop](
	[WorkshopId] [int] IDENTITY(1,1) NOT NULL,
	[SpeakerId] [int] NULL,
	[WorkshopName] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[WorkshopDate] [date] NULL,
	[WorkshopTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkshopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [Username], [Password], [Name]) VALUES (1, N'PhucAnh', N'123456', N'Phuc')
INSERT [dbo].[Admin] ([AdminId], [Username], [Password], [Name]) VALUES (2, N'HuuThang', N'123456', N'Thang')
INSERT [dbo].[Admin] ([AdminId], [Username], [Password], [Name]) VALUES (3, N'VanVu', N'123456', N'Vu')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackId], [OrderId], [ProductId], [CustomerId], [Content]) VALUES (1, 1, 4, 1, N'You have a good service')
INSERT [dbo].[Feedback] ([FeedbackId], [OrderId], [ProductId], [CustomerId], [Content]) VALUES (2, 2, 22, 2, N'This place is a heave for clinics')
INSERT [dbo].[Feedback] ([FeedbackId], [OrderId], [ProductId], [CustomerId], [Content]) VALUES (3, 3, 18, 3, N'I need more services')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [UserId], [Destination], [OrderDate], [OrderTime], [OrderStatus], [OrderTotal], [Comment]) VALUES (1, 1, N'590 CMT8', CAST(N'2019-05-10' AS Date), CAST(N'19:00:00' AS Time), 1, 5, N'I''m glad to be here')
INSERT [dbo].[Order] ([OrderId], [UserId], [Destination], [OrderDate], [OrderTime], [OrderStatus], [OrderTotal], [Comment]) VALUES (2, 2, N'200 CMT8', CAST(N'2019-11-10' AS Date), CAST(N'15:10:00' AS Time), 1, 6, N'')
INSERT [dbo].[Order] ([OrderId], [UserId], [Destination], [OrderDate], [OrderTime], [OrderStatus], [OrderTotal], [Comment]) VALUES (3, 3, N'1101 CMT8', CAST(N'2019-01-11' AS Date), CAST(N'12:52:11' AS Time), 0, 10, N'')
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [OrderDetailTotal]) VALUES (1, 1, 4, 5, 60)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [OrderDetailTotal]) VALUES (2, 2, 22, 6, 72)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [OrderDetailTotal]) VALUES (3, 3, 18, 10, 100)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductType], [TypeId], [Code], [Name], [Price], [Image], [Description], [Popularity]) VALUES (4, N'Medicines', 1, N'101', N'Felodipin Stada 5mg retad', CAST(15 AS Decimal(18, 0)), N'Felodipin Stada 5mg retad', N'Felodipine : 5mg', 100)
INSERT [dbo].[Product] ([ProductId], [ProductType], [TypeId], [Code], [Name], [Price], [Image], [Description], [Popularity]) VALUES (5, N'Medicines', 3, N'102', N'Esogas 40mg F', CAST(20 AS Decimal(18, 0)), N'Esogas 40mg F', N'Esomeprazole Sodium', 75)
INSERT [dbo].[Product] ([ProductId], [ProductType], [TypeId], [Code], [Name], [Price], [Image], [Description], [Popularity]) VALUES (6, N'Medicines', 1, N'103', N'Dorobay 50mg', CAST(22 AS Decimal(18, 0)), N'Dorobay 50mg', N'Acarbose 50mg', 25)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Speaker] ON 

INSERT [dbo].[Speaker] ([SpeakerId], [Name], [Degree], [Occupation]) VALUES (1, N'Phuc', N'Bachelor ', N'Doctor')
INSERT [dbo].[Speaker] ([SpeakerId], [Name], [Degree], [Occupation]) VALUES (2, N'Thang', N'Bachelor', N'Doctor')
INSERT [dbo].[Speaker] ([SpeakerId], [Name], [Degree], [Occupation]) VALUES (3, N'Vu', N'Bachelor', N'Doctor')
SET IDENTITY_INSERT [dbo].[Speaker] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([TypeId], [TypeName]) VALUES (1, N'Tablet')
INSERT [dbo].[Type] ([TypeId], [TypeName]) VALUES (2, N'Ointment')
INSERT [dbo].[Type] ([TypeId], [TypeName]) VALUES (3, N'Injection')
SET IDENTITY_INSERT [dbo].[Type] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Email], [Password], [Name], [IsBoy], [Phone], [Address], [Active]) VALUES (1, N'phucem123@gmail.com', N'123456', N'Phúc', 1, 123456789, N'590 CMT8 ', 1)
INSERT [dbo].[User] ([UserId], [Email], [Password], [Name], [IsBoy], [Phone], [Address], [Active]) VALUES (2, N'huuthang123@gmail.com', N'123456', N'Thang', 1, 123446789, N'200 CMT8', 1)
INSERT [dbo].[User] ([UserId], [Email], [Password], [Name], [IsBoy], [Phone], [Address], [Active]) VALUES (3, N'vanvu123@gmail.com', N'123456', N'Vu', 1, 123345678, N'1101 CMT8', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Workshop] ON 

INSERT [dbo].[Workshop] ([WorkshopId], [SpeakerId], [WorkshopName], [Description], [WorkshopDate], [WorkshopTime]) VALUES (1, 1, N'Basic about Doctor', N'1 Nguyen Hue ', CAST(N'2019-11-15' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Workshop] ([WorkshopId], [SpeakerId], [WorkshopName], [Description], [WorkshopDate], [WorkshopTime]) VALUES (2, 2, N'Patients', N'1 Nguyen Hue', CAST(N'2019-11-18' AS Date), CAST(N'13:00:00' AS Time))
INSERT [dbo].[Workshop] ([WorkshopId], [SpeakerId], [WorkshopName], [Description], [WorkshopDate], [WorkshopTime]) VALUES (3, 3, N'How to be a good Doctor', N'1 Nguyen Hue', CAST(N'2018-11-20' AS Date), CAST(N'12:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Workshop] OFF
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Popularity]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([TypeId])
GO
ALTER TABLE [dbo].[Workshop]  WITH CHECK ADD FOREIGN KEY([SpeakerId])
REFERENCES [dbo].[Speaker] ([SpeakerId])
GO
USE [master]
GO
